@import '../../../assets/scss/abstract/variables';
@import '../../../assets/scss/abstract/mixins';

.container-alert {
  @include align(true, true, fixed);
  z-index: $zindex-modal;
  background-color: $color-white;
  padding: 30px;

  box-shadow: 0px 19px 38px $color-shadow;

  &__group {



    &__content {
      &--close {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &--message {
        @include textFormatter(13px, $font-regular, $color-black);
      }

      &--button {
        border-top: 1px solid $color-border;

        &__group {
          &--button1 {
            min-width: 130px;
          }

          &--button2 {
            min-width: 130px;
          }
        }
      }
    }
  }
}

.size-modal-default {
  height: 200px;
  width: 324px;
}

.size-modal-image {
  height: 319px;
  width: 484px;
}
