@import '../../../assets/scss/abstract/variables';
@import '../../../assets/scss/abstract/mixins';

.container-ended {
  margin: 40px 30px;

  &__group {
    &--title {
      &__results {
        color: $color-blue;
      }
    }

    &--search {
      border-bottom: 1px solid $color-light-gray-border;

      &__elements {

        &--patient,
        &--attendant,
        &--subject {
          width: 280px;
        }

        &--date {
          width: 160px;

          &__image {
            position: relative;

            img {
              position: absolute;
              right: 5px;
              top: 3px;
            }
          }
        }

        &--button {
          width: 160px;
        }
      }
    }
  }
}

th:nth-child(1) {
  width: 70px;
}
