/* #region ############################ SISTEMA DE CONTAINERS E LINHAS ############################ */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media screen {
    max-width: 1200px;
    padding: 0;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 15px;
}

/* #endregion */

/* #region ####################### FLEX BOX ################################ */

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
    align-items: end;
}

.align-flex-end {
    align-items: flex-end;
}

.align-flex-start {
    align-items: flex-start;
}

.base-line {
  align-items: baseline;
}

.align-flex-initial {
  align-items: initial;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

/* #endregion */

/* #region ####################### CONTROLE DE TEXTO ################################ */

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-ellipsis {
  word-break: break-word;
  white-space: initial;
}

.pointer {
  cursor: pointer;
}

.container-outside {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: $zindex-background;
  background-color: $color-white-background;
}

/* #endregion */
