/* #region ############################ SISTEMA DE GRID / COLUNAS ############################ */

/* grid-* customizavel independete do tamanho da tela */
@for $i from 1 through $grid-columns {
    .grid-#{$i} {
        width: 100% / $grid-columns * $i;
    }
}

/* grid-sm-* Pequenos tablets e grandes smartphones (vista de paisagem) */
@for $i from 1 through $grid-columns {
    .grid-sm-#{$i} {
        @media (min-width: $screen-sm-min) {
            width: 100% / $grid-columns * $i;
        }
    }
}

/* grid-md-* Pequenos tablets (vista de retrato) */
@for $i from 1 through $grid-columns {
    .grid-md-#{$i} {
        @media (min-width: $screen-md-min) {
            width: 100% / $grid-columns * $i;
        }
    }
}

/* grid-lg-* Tablets e pequenos desktops */
@for $i from 1 through $grid-columns {
    .grid-lg-#{$i} {
        @media (min-width: $screen-lg-min) {
            width: 100% / $grid-columns * $i;
        }
    }
}

/* grid-xl-* tablets grandes e desktops */
@for $i from 1 through $grid-columns {
    .grid-xl-#{$i} {
        @media (min-width: $screen-xl-min) {
            width: 100% / $grid-columns * $i;
        }
    }
}

/* #endregion */
