<div class="container-form-data">
  <div class="container-form-data__group--form  d-flex">
    <div class="container-form-data__group--form__boxes--left">
      <span class="title-above-label">SIAF</span>

      <div class="container-form-data__group--form__boxes--left__form--holder m-t-20">
        <div class="form-group-field">
          <label class="text-label-input">Prontuário</label>
          <input type="text" [(ngModel)]="siafUser.medicalRecord" disabled>
        </div>
        <div class="form-group-field">
          <label class="text-label-input">Nome</label>
          <input type="text" [(ngModel)]="siafUser.name" [disabled]="disabled">
        </div>
        <div class="form-group-field" *ngIf="siafUser.documentType === 'CPF'">
          <label class="text-label-input">CPF</label>
          <input type="text" [ngModel]="siafUser.documentNumber | cpf" (ngModelChange)="siafUser.documentNumber=$event"
            [disabled]="disabled" cpf>
        </div>
        <div class="form-group-field" *ngIf="siafUser.documentType !== 'CPF'">
          <label class="text-label-input">Passaporte</label>
          <input type="text" [(ngModel)]="siafUser.passport" [disabled]="disabled">
        </div>

        <div class="form-group-field d-flex">
          <div class="p-r-10 input-birth">
            <label class="text-label-input">Data de Nascimento</label>
            <input type="text" [(ngModel)]="siafUser.birthDate" date [disabled]="disabled">
          </div>
          <div class="p-l-10 input-beside-birth">
            <label class="text-label-input">Celular</label>
            <input type="text" [ngModel]="siafUser.phoneNumber | cellphone"
              (ngModelChange)="siafUser.phoneNumber=$event" phone [disabled]="disabled">
          </div>
        </div>

        <div class="form-group-field">
          <label class="text-label-input">E-mail</label>
          <input type="text" [(ngModel)]="siafUser.mail" [disabled]="disabled">
        </div>

        <div class="form-group-field">
          <label class="text-label-input">Sexo</label>
          <select [(ngModel)]="siafUser.gender" [disabled]="disabled">
            <option disabled hidden value="">Selecione</option>
            <option [value]="siafGender.Masculino">Masculino</option>
            <option [value]="siafGender.Feminino">Feminino</option>
          </select>
        </div>

        <div class="form-group-field">
          <label class="text-label-input">Categoria paciente</label>
          <input type="text" [(ngModel)]="siafUser.descStatusSocial" disabled>
        </div>

      </div>

      <div class="container-form-data__group--form__boxes--left__form--dependent m-t-20"
        *ngFor="let dependent of siafUser.dependents; let i = index;">
        <span class="sub-title-above-label">Dependente {{i+1}}</span>
        <span class="sub-title-above-label-regular m-t-10">{{dependent.name}}</span>
        <div class="form-group-field m-t-20">
          <label class="text-label-input">Prontuário</label>
          <input type="text" [(ngModel)]="dependent.patientIdentifier" disabled>
        </div>
        <div class="form-group-field m-t-20">
          <label class="text-label-input">Nome</label>
          <input type="text" [(ngModel)]="dependent.name" [disabled]="disabled">
        </div>
        <div class="form-group-field m-t-20" *ngIf="dependent.documentType === 'CPF'">
          <label class="text-label-input">CPF</label>
          <input type="text" [ngModel]="dependent.document | cpf" (ngModelChange)="dependent.document=$event"
            [disabled]="disabled" cpf>
        </div>
        <div class="form-group-field m-t-20" *ngIf="dependent.documentType !== 'CPF'">
          <label class="text-label-input">Passaporte</label>
          <input type="text" [(ngModel)]="dependent.document" [disabled]="disabled">
        </div>
        <div class="form-group-field d-flex">
          <div class="p-r-10 input-birth">
            <label class="text-label-input">Data de Nascimento</label>
            <input type="text" [(ngModel)]="dependent.birthDate" date [disabled]="disabled">
          </div>
          <div class="p-l-10 input-beside-birth">
            <label class="text-label-input">Sexo</label>
            <select [(ngModel)]="dependent._sex" [disabled]="disabled">
              <option disabled hidden value="">Selecione</option>
              <option [value]="meGender.Masculino">Masculino</option>
              <option [value]="meGender.Feminino">Feminino</option>
            </select>
          </div>
        </div>
      </div>

      <div *ngIf="!disabled" class="container-form-data__group--button d-flex justify-content-center m-t-40">
        <div class="container-form-data__group--button__container">
          <button class="btn btn--default" [disabled]="!activeButtonSIAF" (click)="updateDataPatientSIAF();">
            Atualizar dados SIAF
          </button>
        </div>
      </div>
    </div>


    <div class="container-form-data__group--form__boxes--right">
      <span class="title-above-label">MEU EINSTEIN</span>

      <div class="container-form-data__group--form__boxes--right__form--holder m-t-20">
        <div class="form-group-field">
          <label class="text-label-input">Prontuário</label>
          <input type="text" [(ngModel)]="meUser.medicalRecord" disabled>
        </div>
        <div class="form-group-field">
          <label class="text-label-input">Nome</label>
          <input type="text" [(ngModel)]="meUser.fullName" [disabled]="disabled">
        </div>
        <div class="form-group-field" *ngIf="meUser.documentType === 'CPF'">
          <label class=" text-label-input">CPF</label>
          <input type="text" [ngModel]="meUser.documentNumber | cpf" [disabled]="disabled"
            (ngModelChange)="meUser.documentNumber=$event" cpf>
        </div>
        <div class="form-group-field" *ngIf="meUser.documentType !== 'CPF'">
          <label class="text-label-input">Passaporte</label>
          <input type="text" [(ngModel)]="meUser.documentNumber" [disabled]="disabled">
        </div>

        <div class="form-group-field d-flex">
          <div class="p-r-10 input-birth">
            <label class="text-label-input">Data de Nascimento</label>
            <input type="text" [(ngModel)]="meUser.birthDate" date [disabled]="disabled">
          </div>
          <div class="p-l-10 input-beside-birth">
            <label class="text-label-input">Celular</label>
            <input type="text" [ngModel]="meUser.phoneNumber | cellphone" (ngModelChange)="meUser.phoneNumber=$event"
              phone [disabled]="disabled">
          </div>
        </div>

        <div class="form-group-field">
          <label class="text-label-input">E-mail</label>
          <input type="text" [(ngModel)]="meUser.mail" [disabled]="disabled">
        </div>

        <div class="form-group-field">
          <label class="text-label-input">Sexo</label>
          <select [(ngModel)]="meUser.gender" [disabled]="disabled">
            <option disabled hidden value="">Selecione</option>
            <option [value]="meGender.Masculino">Masculino</option>
            <option [value]="meGender.Feminino">Feminino</option>
          </select>


        </div>

        <div class="container-form-data__group--form__boxes--right__form--dependent m-t-82"
          *ngFor="let dependent of meUser.dependents; let i = index;">
          <span class="sub-title-above-label">Dependente {{i+1}}</span>
          <span class="sub-title-above-label-regular m-t-10">{{dependent.name}}</span>
          <div class="form-group-field m-t-20">
            <label class="text-label-input">Prontuário</label>
            <input type="text" [(ngModel)]="dependent.patientIdentifier" disabled>
          </div>
          <div class="form-group-field m-t-20">
            <label class="text-label-input">Nome</label>
            <input type="text" [(ngModel)]="dependent.name" [disabled]="disabled">
          </div>
          <div class="form-group-field m-t-20" *ngIf="dependent.documentType === 'CPF'">
            <label class="text-label-input">CPF</label>
            <input type="text" [ngModel]="dependent.document | cpf" (ngModelChange)="dependent.document=$event"
              [disabled]="disabled" cpf>
          </div>
          <div class="form-group-field m-t-20" *ngIf="dependent.documentType !== 'CPF'">
            <label class="text-label-input">Passaporte</label>
            <input type="text" [(ngModel)]="dependent.document" [disabled]="disabled">
          </div>
          <div class="form-group-field d-flex">
            <div class="p-r-10 input-birth">
              <label class="text-label-input">Data de Nascimento</label>
              <input type="text" [(ngModel)]="dependent.birthDate" date [disabled]="disabled">
            </div>
            <div class="p-l-10 input-beside-birth">
              <label class="text-label-input">Sexo</label>
              <select [(ngModel)]="dependent._sex" [disabled]="disabled">
                <option disabled hidden value="">Selecione</option>
                <option [value]="meGender.Masculino">Masculino</option>
                <option [value]="meGender.Feminino">Feminino</option>
              </select>
            </div>
          </div>
        </div>

        <div *ngIf="!disabled"
          class="form-group-field--button container-form-data__group--button d-flex justify-content-center">
          <div class="container-form-data__group--button__container">
            <button class="btn btn--default" (click)="updateDataPatientME()" [disabled]="!activeButtonMeUser">
              Atualizar dados Meu Einstein
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <div *ngIf="!disabled" class="container-form-data__group--button d-flex justify-content-center m-t-40">
    <div class="container-form-data__group--button__container">
      <button class="btn btn--white" [disabled]="disabled || (!meUser.medicalRecord && !siafUser.medicalRecord)"
        (click)="attachDependent();">Vincular dependente</button>
    </div>
  </div>
</div>