.btn {
  border-radius: 200px;
  height: 36px;
  width: 100%;
  outline: 0;
  padding: 0px 10px;
  cursor: pointer;

  &--default {
    font-size: 14px;
    background-color: $color-blue-bold;
    color: $color-white;
  }

  &--white {
    font-size: 14px;
    background-color: $color-white;
    color: $color-blue-bold;
    border: 1px solid $color-blue-bold;
  }

  &--alert-default {
    font-size: 12px;
    background-color: $color-blue-bold;
    color: $color-white;
  }

  &--alert-white {
    font-size: 12px;
    background-color: $color-white;
    color: $color-blue-bold;
    border: 1px solid $color-blue-bold;
  }
}
