<div class="container-search m-t-30 d-flex align-flex-end">
  <div class="container-search__group--select m-r-20" *ngIf="select">
    <select [(ngModel)]="selectedValue">
      <option [value]="searchType.cpf">{{searchType.cpf}}</option>
      <option [value]="searchType.prontuario">{{searchType.prontuario}}</option>
      <option [value]="searchType.passaporte">{{searchType.passaporte}}</option>
    </select>
    <p class="text-title-error" *ngIf="errorSelect">Selecione o tipo</p>
  </div>
  <div class="container-search__group--input m-r-20">
    <input type="text" [placeholder]="placeholder" (keyup.enter)="search();" [(ngModel)]="searchText">
    <img src="../../../assets/images/search/icon_lupa.png">
  </div>
  <div class="container-search__group--button">
    <button class="btn btn--default" (click)="search();">Pesquisar</button>
  </div>
</div>
